<h1>Bienvenue sur la section Marketing</h1>
<p>Le marketing numérique, un outil indispensable pour  le reférencement et le virage numérique de votre entreprise</p>

{{#if blog}}
{{#each blog}}
<div class="service">
    <a href="//{{blog.id}}">
        <p>{{blog.titre}}</p>
    </a>
    <p>{{blog.categorie}}</p>
    <p>{{blog.auteur}}</p>
    <p>{{blog.contenu}}</p>
    <p>{{blog.date}}</p>
</div>
{{/each}}
{{/if}}