<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div class="entete"></div>
    <div>
    <nav class="navigation">
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/Marketing">Marketing</a></li>
        <li><a href="/blog">Le blog</a></li>
        <li><a href="/apropos">À propos</a></li>
        <li><a href="/contact">Nous contacter</a></li>
      </ul>
    </nav>
    </div>
  </header>
  {{{body}}}
</body>

</html>