
        <h1>Bienvenue sur la section Marketing</h1>
        <p>Le marketing numérique, un outil indispensable pour  le reférencement et le virage numérique de votre entreprise</p>
        {{#if pages}}
        {{#each pages}}
         <img src="../public/images/image1.jpg" alt="test">
        <div class="service">
            <a href="//{{this.id}}">
                <p>{{titre}}</p>
            </a>
            <p>{{this.contenu}}</p>
        </div>
        {{/each}}
        {{/if}}
