body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header{
  height: 100px;
}

.entete{
  height: 50%;
  background-color: #4D5DED;;
}

.navigation{
  height: 50%;
  border: solid 1px #3244EA;
}
.service{
  background-color: yellowgreen;
}

li {
  display: inline-block;
  padding-left: 0.5rem;
  text-decoration: none;
}

li:hover{
  background-color: blue;
  height: 40px;
  border-radius: 5%;
  margin-bottom: 2rem;
  color: rgb(161, 20, 20);
}
